*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#users{
  display: grid;
  grid-gap: 1rem;
}

nav{
  display: grid;
  grid-template-columns: 100fr 100fr 100fr;
  justify-items: center;
  align-items: center;
  height: 3rem;
  background: rgba(26, 141, 242, 1);
}
nav > a{
  color: white;
  text-decoration: none;
}