*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

div#users{
  display: grid;
  /* grid-template-columns: repeat(3, 10fr); */
  grid-template-columns: 100fr 50fr 100fr;
  grid-gap: 1rem;
  padding: 1rem;
}
div.user{
  border: 1px solid rgba(29, 161, 249, 1);
}





